[Unit]
Description=FurCast Porn Bot

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/bots/furcast-porn-bot
ExecStart=/home/bots/furcast-porn-bot/venv/bin/furcastpornbot

[Install]
WantedBy=default.target
